<div id="<%= dom_id quiz %>">
  <p>
    <strong>User:</strong>
    <%= quiz.user_id %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= quiz.subject %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= quiz.topic %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= quiz.level %>
  </p>

  <p>
    <strong>Objectives:</strong>
    <%= quiz.objectives %>
  </p>

  <p>
    <strong>Format:</strong>
    <%= quiz.format %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= quiz.length %>
  </p>

</div>
