<div id="<%= dom_id quiz %>">
  <p>
    <strong>Subject:</strong>
    <%= quiz.subject %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= quiz.topic %>
  </p>

  <p>
    <strong>Grade Level:</strong>
    <%= quiz.level %>
  </p>

  <p>
    <%= quiz.response %>
  </p>

</div>
