<div id="<%= dom_id quiz %>">
  <h2><%= quiz.subject %> Quiz: <%= quiz.topic %></h2>
  <p><%= quiz.response['description'] %></p>
  <ol>
    <% quiz.response['questions'].each do |question| %>
      <li>
        <h3><%= question['question'] %></h3>
        <% if question['choices'] %>
          <ul class='list-unstyled'>
            <% question['choices'].each do |choice| %>
              <li><input type="radio"><%= choice %></li>
            <% end %>
          </ul>
        <% else %>
          <input type="text-area">
        <% end %>
      </li>
    <% end %>
  </ol>
</div>
