<p style="color: green"><%= notice %></p>

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Quiz Creator</h1>
      <p class="lead text-muted">Click the link below to make a new quiz. </p>
      <p>
        <%= link_to "New quiz", new_quiz_path, class:"btn btn-secondary my-2" %>
      </p>
    </div>
  </div>
</section>

<div class="bg-light py-5">
  <div class="container">
    <div class="row">
      <% @quizzes.each do |quiz| %>
        <div class="col-md-4">
          <div class="card box-shadow mb-4">
            <div class="card-body">
              <h5 class="card-title">
              <%= quiz['response']['title'] %>
              </h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Grade <%= quiz.level %></li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
              <%= link_to 'View quiz', quiz, class:'btn btn-outline-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>