<div class="container">
  <p style="color: green"><%= notice %></p>

  <%= render @quiz %>

  <div>
    <%= link_to "Back to quizzes", quizzes_path, class:'btn btn-outline-primary' %>
    <%= link_to 'Download/Print PDF', quiz_path(format: :pdf), class:'btn btn-outline-secondary' %>
    <hr class="my-4">
    <%= button_to "Delete this quiz", @quiz, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:'btn btn-danger' %>
  </div>
</div>
