<div class="container">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
    wrapper: :floating_labels_form, wrapper_mappings: {
      select:        :floating_labels_select
    }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :email,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                input_html: { autocomplete: "new-password" } %>
    <%= f.button :submit, "Sign up", class: "btn-secondary" %>

  <% end %>

  <%= render "devise/shared/links" %>
</div>
