<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h3 class="display-4 fw-normal">Quizzly</h3>
    <p class="lead fw-normal">A quick and convenient tool for generating quizzes!</p>
    <%= link_to "Get Started", new_user_registration_path, class:"btn btn-outline-secondary" %>
  </div>
</div>

<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      Quizzly
      <small class="d-block mb-3 text-muted">&copy; 2023–</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><%=link_to 'Quizzes', quizzes_path, class:'link-secondary' %></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><%=link_to 'Team', "https://github.com/danielnguyen12", class:'link-secondary' %></li>
        <li><%=link_to 'About', about_path, class:'link-secondary' %></li>
        <li><%=mail_to "devdanielnguyen@gmail.com", "Contact", class:'link-secondary' %></li>
      </ul>
    </div>
  </div>
</footer>